:root{
   --clr-neon: #EA0000;
   --clr-bg: #261717;
   --clr-white: #fff;
   --clr-neon2: rgb(255, 213, 75);
    --rojo-navegador :#ff2525ca; 
    --gris-menu:#8989897e;



   --gradiente: linear-gradient(135deg, 
        #0EF5DD 0%,       
        var(--clr-bg) 50%,      
        #B30000 80%,   
        var(--clr-neon) 100%
   );
}

/* ORGANIZACION DE LA PAGINA (LAYOUT) */
*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
}


body {
    width: 1366px; /* Referencia de inicio al crear la páfina : 1366px */
    margin: 0 auto;
    position: relative;
    width: 100vh; /*  medida estandart para todos los body */
    
}

#adminInicio_body {
    width: 100%;
    justify-items: center;
    align-items: center;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 0.5fr 1fr 2fr; /* ajistando el flex a dos fracciones de la pantalla logro posicionar el cuadro donde necesito */
    grid-template-areas:
        ". header header ."
        ". main main ."
        "footer footer footer footer";
    height: calc(100vh - 100px);  
    background: var(--gradiente);
    width: 100%;
    margin: 0 auto;
    div{
        grid-area: header;
        justify-items: center;
        h1 {
            color: white;
            font-size: 3em;
        }

        h3 {
            color: #fff;
        }
    }
    
 
    #inicio_de_sesicon {
        grid-area: main;
        width: 43.920105485232066%; /* 600 / 1366 * 100 = 43.920105485232066% */
        height: 30vh;
        margin: 0 auto 0 auto;
        border-radius: 20px;
        background-color: #a6a5a568;
        align-items: center;
        justify-content: center;
       
        /* ajustes del display flex */
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex-basis: 400px;

        /* estilos de los input del formulario de inicio de sesión del administradoe */
        input[type="text"], input[type="password"] {
            display: block;
            height: 3vh;
            width: 36.59234870620139%; /* 500 / 1366 * 100 = 36.59234870620139% */
            padding-left: 10px;
            border-radius: 20px;
            border: none;
            background-color: #74747480;
            color: white;

            /* color del placeholder de los inputs para que aparezca blanco */
            &::placeholder {
                color: white;
                opacity: 1;
            }
        }

        input[type="submit"] {
            width: 38.06228373702421%; /* 520 / 1366 * 100 = 38.06228373702421% */
            height: 3vh;
            border-radius: 10px;
            border: 1px solid var(--clr-neon2);
            background-color: transparent;
            font-size: 1.3em;
            transition: background-color 1s ease; /* hace que ek background cambie de una forma mas suave */

            &:hover {
                background-color: var(--clr-neon2);
                color: #fff;
            }
        }
    }
}

/* inicio de panel de control (Cpanel) */

.Cpanel_body{
    width: 100%;
    /* disposición del layout en formato grid */
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;  /*  la primera fila tiene una menor medida porque contiene el nav  */
    grid-template-areas: 
        "aside logo logo logo"
        "aside main main main"
        "aside main main main"
    ;
    /* barra lateral que ará de navegador entre las paginas del Cpanel del administrador*/
    aside{
        background-color: var(--rojo-navegador) ;
        width: 100%;
        height: 100vh;
        grid-area: aside;
        position: relative;

        button{               /* Boton de cerrado de sesión */
            width: 80%;
            height: 3vh;
            background-color: transparent;
            color: white;
            border-radius: 20px;
            border: 1px solid white;
            font-size: 1.3em;
            position: absolute;
            bottom: 20px;
            left: 10%;
        }
    }
    
    nav{   /* contiene el logo y el rotulo de la paginba (titulo y el eslogan del Cpanel) */
        grid-area: logo;
        background-color: var(--rojo-navegador);
        text-align: center;
        img{
            width: 100px;
            float: right;
            margin-right: 10px;
        }
        h1,h3{
            color: white;
            font-size: 2.2em;
        }
    }
    main{   /* el contenido será alterno en funcion a la opción en la que ya te encuentres */
        grid-area: main;
        background-color: var(--gris-menu);
    }
}