:root{
   --clr-neon: #EA0000;
   --clr-bg: #261717;
   --clr-white: #fff;
   --clr-neon2: rgb(255, 213, 75);


   --gradiente: linear-gradient(135deg, 
        #0EF5DD 0%,       
        var(--clr-bg) 50%,      
        #B30000 80%,   
        var(--clr-neon) 100%
   );
}

/* ORGANIZACION DE LA PAGINA (LAYOUT) */
*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
}


/* BODY AJUSTADO A 1366 PX DE ANCHO */
body {
    width: 1366px;           
    margin: 0 auto;
    position: relative;
    justify-items: center;
    align-items: center;
    height: calc(100vh - 100px);  
    background: var(--gradiente);
    padding-top: 100px;
}


/* ---------- ESTILOS DE LA PÁGINA ---------- */
#adminInicio {

    h1 {
        color: white;
        font-size: 3em;
    }

    h3{
        color: #fff;

    }

    form {
        width: 600px;                        
        height: 30vh;                        
        margin: 50px auto 0 auto;            
        border-radius: 20px;
        background-color: #a6a5a568;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex-basis: 400px;                   
        
        input[type="text"], input[type="password"] {
            display: block;
            height: 3vh;                    
            width: 500px;                   
            padding-left: 10px;
            border-radius: 20px;
            border: none;
            background-color: #74747480;
            color: white;
            
            &::placeholder{
                color: white;
                opacity: 1;
            }
        }

        input[type="submit"] {
            width: 520px;                    
            height: 3vh;                     
            border-radius: 10px;
            border: 1px solid var(--clr-neon2);
            background-color: transparent;
            font-size: 1.3em;
            transition: background-color 1s ease;


            &:hover {
                background-color: var(--clr-neon2);
                color: #fff;
            }

        }

    }
}