/*Importamos una fuente de google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/*Variables predeterminadas para colores y fuentes*/
:root{
    --verde-neon: #00FF08;
    --fondo-oscuro: #08251C;
    --fondo-blanco: #fff;
    --fondo-juegos: #00c127d1;
    --fuente-principal: 'Poppins', sans-serif;
    --fuente-cuerpo: 'Roboto', sans-serif;
    --gradiente-juego: linear-gradient(135deg,
        #00ffdd 0%,
        var(--fondo-oscuro) 50%,
        hsl(145, 100%, 35%) 80%,
        var(--verde-neon) 100%
    );
    --color-neon: rgb(246, 255, 0);
    --color-rojo: rgb(200, 37, 1);
}

/*Ponemos predeterminado a todo con 0 de padding y 0 de margin*/
*{
    padding: 0;
    margin: 0;
}

/*Indicamos el tamaño de ancho, la altura, las fuentes y los fondos de los body*/
body{
    width: 100%;                            /*Ancho de una tablet predeterminada*/
    max-width: 1366px;                      /*Tamaño maximo de ancho*/
    min-height: 100vh;                      /*Minimo lo que ocupe la pantalla de altura de fondo*/
    background: var(--gradiente-juego);           /*Usamos la variable --gradiente para seleccionar el fondo*/
    font-family: var(--fuente-cuerpo);      /*Usamos la variable --fuente-cuerpo para seleccionar la fuente*/
    font-size: 10px;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.8rem;
}

p{
    font-size: 1.2rem;
}

label{
    font-size: 1.5rem;
}

/*Estilo de los buttons (Funcionarán mediante JavaScript)*/
button{
    width: 100%;                            /*Tamaño ancho del button*/
    font-size: 1.3rem;                      /*Tamaño de la letra*/
    text-align: center;                     /*Centramos el texto*/
    display: block;                         /*Desplegamos en bloque para que el inicio sesion se baje y no se superponga*/
    padding: 1.4641%;                          /*Espacio interno del button*/
    margin-bottom: 7.2463%;                    /*Espacio entre elementos inferior del button*/
    cursor: pointer;                        /*Cambia el simbolo del cursor cuando pasas por encima*/
    border: 2px solid var(--color-neon);    /*Estilo del borde del button*/
    border-radius: 15px;                    /*Borde redondeado*/
    color: var(--color-neon);               /*Color de la letra del button*/
    background-color: transparent;          /*Sin fondo*/
    box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon); /*Sombra*/
    transition: all 0.3s ease;              /*Tiempo de transicion para el hover*/
}

/*Estilo de la transición de los buttons*/
button:hover{
    color: var(--color-neon);               /*Transicion del color*/
    background: var(fondo-oscuro);          /*Transicion del color del fondo*/
    box-shadow: 0 0 2em 0.5em var(--color-neon);    /*Transicion de la sombra*/
}

/*Estilo de los input*/
input[type="text"], input[type="email"]{
    width: 50%;                           /*Anchura del input*/
    height: 5vh;                           /*Altura del input*/
    padding-left: 10px;                     /*Espacio interno del input*/
    border: 2px solid black;              /*Estilo del borde de los input*/
    border-radius: 5px;                     /*Borde redondeado*/
    transition: all 0.15s ease;             /*Tiempo de transición del hover*/
}

input[type="text"]:hover, input[type="email"]:hover{
    box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon); /*Sombra*/
    border-color: var(--color-neon);/*Color del borde*/
}

/*Estilo del Logo*/
#logo{
    width: 7.3206%;
    position: absolute;
    top: 1.4641%;
    left: 2.1961%;
}


/*--INICIO DE SESIÓN--*/
#inicioSesion{
    header{
        text-align: center;                 /*ALineo el texto*/
        padding: 14.6412% 0px 3.6603% 0px;        /*Espacio interno del button en la parte superior e inferior*/
    }

    main{
        #menuInicioSesion{
            width: 21.9619%;
            display: block;                  /*Despliego mediante grid*/
            margin: 0 auto;
        }

        .btn{
            height: 10vh;
        }
    }
}

/*--MENU PRINCIPAL--*/
#menuPrincipal{
    header{
        text-align: center;                 /*Alineo el texto*/
        padding: 1.8301% 0px 0px 0px;          /*Espacio interno del button en la parte superior*/
        position: relative;                 /*Permito que los elementos hijos puedan posicionarse de manera absolute sobre él*/

        #btnCerrarSesion{
            width: 18.3016%;
            position: absolute;             /*Lo posiciono de manera absolute respecto al header*/
            top: 31.7460%;                  /*Distancia entre el borde arriba del header al elemento*/
            right: 2.1961%;                 /*Distancia entre el borde derecho del header al elemento*/
            font-size: 1.3rem;              /*Tamaño del button Cerrar Sesion*/
            cursor: pointer;                /*Cambia el simbolo del cursor cuando pasas por encima*/
            border: 2px solid black;      /*Estilo del borde del button*/
            border-radius: 15px;            /*Borde redondeado*/
            color: var(--fondo-blanco);     /*Color de la letra del button*/
            background-color: black;      /*Color del fondo del button*/
            box-shadow: inset 0 0 0.5em 0 black, 0 0 0.5em 0 black; /*Sombra*/
            transition: all 0.15s ease;     /*Tiempo de transición del hover*/
        }

        #btnCerrarSesion:hover{
            color: black;                 /*Color del hover*/
            background: var(--color-rojo);  /*Color del fondo del hover*/
            box-shadow: 0 0 2em 0.5em var(--color-rojo);    /*Sombra del hover*/
        }
    }

    main{
        margin: 7.3206% 0.7320% 0px 0.7320%;        /*Espacio entre elementos del main por izquierda y derecha y por arriba*/

        #menuBotones{
            height: 75vh;
            display: grid;                  /*Despliego mediante un grid*/
                                            /*Organizo el grid en tres columnas y 2 filas*/
            grid-template-areas:            
                "iniciar salas partida"
                "ranking ranking ranking";  /*El ranking ocupa todo*/
            grid-template-columns: 29.2828% 29.2828% 29.2828%;   /*Tamaño de las columnas de ancho*/
            grid-template-rows: 80% auto;/*Tamaño de las filas de alto*/
            justify-content: center;        /*Alinea la cuadrícula al centro en horizontal*/
            gap: 2.5% 3.6603%;                 /*Espacio entre filas y columnas*/

            .lineaA{
                margin: 0px;                /*Espacio entre elementos a 0px*/
            }

            #btnIniciarPartida{
                grid-area: iniciar;         /*Nombre que se usará para el grid-template-areas*/
            }

            #btnCrearSala{
                grid-area: salas;           /*Nombre que se usará para el grid-template-areas*/
            }

            #btnPartidaPublica{
                grid-area: partida;         /*Nombre que se usará para el grid-template-areas*/
            }

            #btnRanking{
                grid-area: ranking;         /*Nombre que se usará para el grid-template-areas*/
            }
        }
    }
}

/*--REGISTRO--*/
#registro{
    header{
        text-align: center;                 /*Alineo al centro*/
        padding-top: 5.4904%;          /*Espacio interno del header en la parte superior*/
    }

    form{
        width: 43.9238%;                       /*Ancho del formulario*/
        margin: 1.4641% auto 0 auto;           /*Espacio entre elementos, lo ponemos al centro con un poco de espacio arriba*/
        padding: 50px 75px 50px 75px;       /*Espacio interno del formulario*/
        background-color: transparent;      /*Sin fondo en el formulario*/
        border: 2px solid var(--color-neon);/*Borde del formulario*/
        border-radius: 20px;                /*Borde redondeado*/
        box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon); /*Sombra*/

        label{
            color: var(--fondo-blanco);     /*Color del label*/
            font-weight: bold;              /*Negrita*/
            margin-left: 50px;              /*Espacio entre elementos por la izquierda*/
        }

        input[type="text"], input[type="email"]{
            margin: 3.3333% 0px 5% 8.3333%;     /*Espacio entre elementos*/
            display: block;                 /*Desplegamos en bloque para que el elemento ocupe todo el ancho de la caja*/
        }

        #btnEnviar{
            width: 41.6666%;                   /*Ancho del button*/
            margin: 10% auto 0 auto;       /*Espacio entre elementos, lo ponemos al centro con un poco de espacio arriba*/
            font-size: 1.3rem;              /*Tamaño de la letra del button*/
            padding: 1.6666% 0px;              /*Espacio interno del button*/
            cursor: pointer;                /*Cambia el simbolo del cursor cuando pasas por encima*/
            border: 2px solid black;      /*Estilo del borde del button*/
            border-radius: 15px;            /*Borde redondeado*/
            color: var(--fondo-blanco);     /*Color de la letra del button*/
            background-color: black;      /*Color del fondo del button*/
            box-shadow: inset 0 0 0.5em 0 black, 0 0 0.5em 0 black; /*Sombra*/
            transition: all 0.15s ease;     /*Tiempo de transición del hover*/
        }

        #btnEnviar:hover{
            color: black;                 /*Color del hover*/
            background: var(--fondo-blanco);/*Color del fondo del hover*/
            box-shadow: 0 0 2em 0.5em var(--fondo-blanco);/*Sombra del hover*/
            border-color: var(--fondo-blanco);/*Color del borde*/
        }
    }
}

/*--RANKING--*/
#ranking{
    header{
        text-align: center;                 /*Alineo el texto*/
        padding: 1.8301%;                   /*Espacio interno del header en la parte superior*/
        position: relative;                 /*Permito que los elementos hijos puedan posicionarse de manera absolute sobre él*/
    }

    main{
        display: block;
        margin: 7.3206% auto 0 auto;
        padding: 3.6603% 0px;
        width: 43.9238%;
        background-color: transparent;      /*Sin fondo en el formulario*/
        border: 2px solid var(--color-neon);/*Borde del formulario*/
        border-radius: 20px;                /*Borde redondeado*/
        box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon); /*Sombra*/

        .jugadores{
            background-color: black;
            color: var(--fondo-blanco);
            font-size: 1.5rem;
            border: 2px solid black;
            border-radius: 10px;
            margin: 3.3333% 33.3333%;
            color: var(--fondo-blanco);
            text-align: center;             /*Centramos*/
        }
    }

    #flecha{
        width: 5.1244%;                        /*Ancho*/
        position: absolute;                 /*Ponemos posicion absolute respecto al header*/
        bottom: 1.4641%;                       /*20px por encima del borde inferior del header*/
        left: 2.1961%;                         /*30px a la derecha del borde izquierdo del header*/
    }
}

/*--PREGUNTAS Y RESPUESTAS--*/
#preguntasRespuestas{
    header{
        background-color: black;          /*Fondo del header*/
        color: var(--fondo-blanco);         /*Color de la letra del header*/
        text-align: center;                 /*Alineo el texto*/
        padding: 2.1961% 0px;                  /*Espacio interno del button en la parte superior*/
        position: relative;                 /*Permito que los elementos hijos puedan posicionarse de manera absolute sobre él*/

        #pregunta{
            background-color: var(--fondo-blanco);  /*Fondo del icono*/
            width: 2.9282%;                    /*Ancho de la imagen*/
            padding: 1.0980%;                  /*Espacio interno de la imagen*/
            position: absolute;             /*Ponemos posicion absolute respecto al header*/
            border-radius: 50px;            /*Borde redondeado*/
            top: 20.2122%;                      /*20px por debajo del borde superior del header*/
            left: 2.1961%;                     /*30px a la derecha del borde izquierdo del header*/
        }

        #tiempo{
            width: 10.9809%;                   /*Ancho del temporizador*/
            padding: 0.7320% 1.0980%;             /*Espacio interno del temporizador*/
            background-color: var(--fondo-blanco);  /*Color del fondo*/
            border: 2px solid var(--fondo-blanco);  /*Esilo del borde*/
            border-radius: 10px;            /*Borde redondeado*/
            color: black;                 /*Color de la letra*/
            box-shadow: inset 0 0 0.5em 0 var(--fondo-blanco), 0 0 0.5em 0 var(--fondo-blanco); /*Sombra*/
            position: absolute;             /*Ponemos posicion absolute respecto al header*/
            top: 20.2122%;                      /*20px por debajo del borde superior del header*/
            right: 2.1961%;                    /*30px a la izquierda del borde derecho del header*/
        }
    }

    main{
        background-color: rgba(155, 201, 111, 0.827);   /*Color del fondo del main*/
        padding: 3.6603% 0px;                  /*Espacio interno del main*/

        h2{
            width: 73.2064%;                  /*Ancho del titulo*/
            margin: 0 auto;                 /*Centramos la caja del titulo*/
            padding: 1.4641%;                  /*Espacio interno del titulo*/
            text-align: center;             /*Centramos el texto del titulo*/
            background-color: var(--color-neon);    /*Color del fondo del titulo*/
            border: 2px solid var(--color-neon);    /*Estilo borde*/
            border-radius: 10px;            /*Borde redondeado*/
            color: black;                 /*Color de la letra*/
            box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon); /*Sombra*/
        }

        #opcionesPregunta{
            width: 80%;                   /*Ancho de la caja*/
            margin: 0 auto;                 /*Centra la caja*/
            padding: 5% 0px;              /*Espacio interno de las respuestas*/
            color: var(--fondo-blanco);     /*Color de la letra*/
            display: flex;
            flex-direction: column;         /*Flexeamos dirección columna*/
            align-items: center;            /*Centra el contenido respecto al eje vertical pero como esta en dirección columna pasa a ser el horizontal*/

            .contenedor-pregunta{
                width: 65.1769%;               /*Ancho del contenedor*/
                text-align: left;           /*Alineamos el contenido a la izquierda*/
                background-color: var(--fondo-oscuro);  /*Color del fondo*/
                border: 2px solid var(--fondo-oscuro);  /*Estilo borde*/
                border-radius: 10px;        /*Borde redonedado*/
                box-shadow: inset 0 0 0.5em 0 var(--fondo-oscuro), 0 0 0.5em 0 var(--fondo-oscuro); /*Sombra*/
                margin: 2.3277% 0px;           /*Espacio entre elementos superior e inferior*/
                padding: 1.8621%;              /*Espacio interno de la respuesta*/
                flex: 1 1 auto;             /*Flex-grow (se agranda de 1 en 1), flex-shrink (se empequeñece de 1 en 1), flex-basic (ancho especial para flex (antes que el width normal))*/

                p{
                    display: inline-block;  /*Desplegamos en inline-block para que no se baje después del input*/
                    margin-left: 2.8571%;      /*Espacio entre elementos por la izquierda*/
                }
            }
        }
    }
}

/*--SITUACIONES--*/
#situaciones{
    header{
        background-color: black;         /*Color del fondo*/
        color: var(--fondo-blanco);         /*Color de la letra*/
        text-align: center;                 /*Alineo el texto*/
        padding: 2.1961% 0px;                  /*Espacio interno del button en la parte superior*/
        position: relative;                 /*Permito que los elementos hijos puedan posicionarse de manera absolute sobre él*/

        #situacion{
            background-color: var(--fondo-blanco);  /*Fondo del icono*/
            width: 2.9282%;                    /*Ancho de la imagen*/
            padding: 1.0980%;                  /*Espacio interno de la imagen*/
            position: absolute;             /*Ponemos posicion absolute respecto al header*/
            border-radius: 50px;            /*Borde redondeado*/
            top: 20.2122%;                      /*20px por debajo del borde superior del header*/
            left: 2.1961%;                     /*30px a la derecha del borde izquierdo del header*/
        }

        #tiempo{
            width: 10.9809%;                   /*Ancho del temporizador*/
            padding: 0.7320% 1.0980%;             /*Espacio interno del temporizador*/
            background-color: var(--fondo-blanco);  /*Color del fondo*/
            border: 2px solid var(--fondo-blanco);  /*Esilo del borde*/
            border-radius: 10px;            /*Borde redondeado*/
            color: black;                 /*Color de la letra*/
            box-shadow: inset 0 0 0.5em 0 var(--fondo-blanco), 0 0 0.5em 0 var(--fondo-blanco); /*Sombra*/
            position: absolute;             /*Ponemos posicion absolute respecto al header*/
            top: 20.2122%;                      /*20px por debajo del borde superior del header*/
            right: 2.1961%;                    /*30px a la izquierda del borde derecho del header*/
        }
    }

    main{
        background-color: rgba(155, 201, 111, 0.827);   /*Color del fondo del main*/
        padding: 3.6603% 0px;                  /*Espacio interno del main*/

        h2{
            width: 73.2064%;                  /*Ancho del titulo*/
            margin: 0 auto;                 /*Centramos la caja del titulo*/
            padding: 1.4641%;                  /*Espacio interno del titulo*/
            text-align: center;             /*Centramos el texto del titulo*/
            background-color: var(--color-neon);    /*Color del fondo del titulo*/
            border: 2px solid var(--color-neon);    /*Estilo borde*/
            border-radius: 10px;            /*Borde redondeado*/
            color: black;                 /*Color de la letra*/
            box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon); /*Sombra*/
        }

        #opcionesSituacion{
            width: 73.2064%;                  /*Ancho de la situacion*/
            margin: 0 auto;                 /*Centramos la caja*/
            padding: 3.6603% 0px;              /*Contenido interno de la situacion*/
            color: var(--fondo-blanco);     /*Color de la letra*/
            display: grid;
            grid-template-columns: 40% 40%; /*Hacemos dos columnas de 400px*/
            grid-template-rows: auto;       /*Hacemos una fila que se adaptará al contenido por defecto al tamaño de sus hijos*/
            gap: 0px 20%;                 /*Espacio entre filas y columnas*/
            justify-content: left;          /*Alineamos a la izquierda el contenido*/
            

            .contenedor-situacion{
                text-align: left;           /*Alineamos el contenido a la izquierda*/
                background-color: var(--fondo-oscuro);  /*Color del fondo*/
                border: 2px solid var(--fondo-oscuro);  /*Estilo borde*/
                border-radius: 10px;        /*Borde redonedado*/
                box-shadow: inset 0 0 0.5em 0 var(--fondo-oscuro), 0 0 0.5em 0 var(--fondo-oscuro); /*Sombra*/
                margin: 6.25% 0px;           /*Espacio entre elementos superior e inferior*/
                padding: 5%;              /*Espacio interno de la respuesta*/

                p{
                    display: inline-block;  /*Desplegamos en inline-block para que no se baje después del input*/
                    margin-left: 2.8571%;      /*Espacio entre elementos por la izquierda*/
                }
            }
        }
    }
}

/*FOTOS*/
#fotos{
    header{
        background-color: black;          /*Color del fondo*/
        color: var(--fondo-blanco);         /*Color del texto*/
        text-align: center;                 /*Alineo el texto*/
        padding: 2.1961% 0px;                  /*Espacio interno del button en la parte superior*/
        position: relative;                 /*Permito que los elementos hijos puedan posicionarse de manera absolute sobre él*/

        #foto{
            background-color: var(--fondo-blanco);  /*Fondo del icono*/
            width: 2.9282%;                    /*Ancho de la imagen*/
            padding: 1.0980%;                  /*Espacio interno de la imagen*/
            position: absolute;             /*Ponemos posicion absolute respecto al header*/
            border-radius: 25px;            /*Borde redondeado*/
            top: 20.2122%;                      /*20px por debajo del borde superior del header*/
            left: 2.1961%;                     /*30px a la derecha del borde izquierdo del header*/
        }

        #tiempo{
            width: 10.9809%;                   /*Ancho del temporizador*/
            padding: 0.7320% 1.0980%;             /*Espacio interno del temporizador*/
            background-color: var(--fondo-blanco);  /*Color del fondo*/
            border: 2px solid var(--fondo-blanco);  /*Esilo del borde*/
            border-radius: 10px;            /*Borde redondeado*/
            color: black;                 /*Color de la letra*/
            box-shadow: inset 0 0 0.5em 0 var(--fondo-blanco), 0 0 0.5em 0 var(--fondo-blanco); /*Sombra*/
            position: absolute;             /*Ponemos posicion absolute respecto al header*/
            top: 20.2122%;                      /*20px por debajo del borde superior del header*/
            right: 2.1961%;                    /*30px a la izquierda del borde derecho del header*/
        }
    }

    main{
        background-color: rgba(155, 201, 111, 0.827);   /*Color del fondo del main*/
        padding: 3.6603% 0px;                  /*Espacio interno del main*/

        h2{
            width: 87.8477%;                  /*Ancho del titulo*/
            margin: 0 auto;                 /*Centramos la caja del titulo*/
            padding: 1.4641%;                  /*Espacio interno del titulo*/
            text-align: center;             /*Centramos el texto del titulo*/
            background-color: var(--color-neon);    /*Color del fondo del titulo*/
            border: 2px solid var(--color-neon);    /*Estilo borde*/
            border-radius: 10px;            /*Borde redondeado*/
            color: black;                 /*Color de la letra*/
            box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon); /*Sombra*/
        }

        #opcionesFoto{
            width: 87.8477%;                  /*Ancho de la situacion*/
            margin: 0 auto;                 /*Centramos la caja*/
            padding: 3.6603% 0px;              /*Contenido interno de la situacion*/
            color: var(--fondo-blanco);     /*Color del texto*/
            display: grid;
                                            /*Organizo el grid en 2 columnas y 2 filas*/
            grid-template-areas:            
                "pregunta1 imagen"
                "pregunta2 imagen";  /*La imagen ocupa la columna 2 entera*/
            grid-template-columns: 41.4666% 33.3333%; /*Ancho de las columnas*/
            grid-template-rows: auto auto;  /*Altura por defecto de las filas que se adapta al contenido de sus hijos*/
            gap: 0px 16.6666%;                 /*Espacio entre las filas y columnas*/
            justify-content: left;          /*Alineamos el contenido a la izquierda*/

            #pregunta1{
                grid-area: pregunta1;       /*Llamamos a la pregunta1 pregunta1 que es el nombre que usaremos para llamaralo en el grid-template-areas*/
            }

            #pregunta2{
                grid-area: pregunta2;       /*Llamamos a la pregunta2 pregunta2 que es el nombre que usaremos para llamaralo en el grid-template-areas*/
            }

            #contenedor-imagen{
                grid-area: imagen;          /*Llamamos a la contenedor-imagen imagen que es el nombre que usaremos para llamaralo en el grid-template-areas*/
            }

            #imagenFoto{
                width: 100%;               /*Ancho de las imagenes*/
            }
            

            .contenedor-foto{
                text-align: left;           /*Alineamos el contenido a la izquierda*/
                background-color: var(--fondo-oscuro);  /*Color del fondo*/
                border: 2px solid var(--fondo-oscuro);  /*Estilo borde*/
                border-radius: 10px;        /*Borde redonedado*/
                box-shadow: inset 0 0 0.5em 0 var(--fondo-oscuro), 0 0 0.5em 0 var(--fondo-oscuro); /*Sombra*/
                margin: 5% 0px;           /*Espacio entre elementos superior e inferior*/
                padding: 4%;              /*Espacio interno de la respuesta*/

                p{
                    display: inline-block;  /*Desplegamos en inline-block para que no se baje después del input*/
                    margin-left: 2.8571%;      /*Espacio entre elementos por la izquierda*/
                }
            }
        }
    }
}